/*==================================
FONT FACE
==================================*/

// Book

@font-face {
  font-family: 'circular-book';
  src: url('../fonts/circular/book/CircularStd-Book.eot?#iefix') format('embedded-opentype'),  url('../fonts/circular/book/CircularStd-Book.otf')  format('opentype'),
	     url('../fonts/circular/book/CircularStd-Book.woff') format('woff'), url('../fonts/circular/book/CircularStd-Book.ttf')  format('truetype'), url('../fonts/circular/book/CircularStd-Book.svg#CircularStd-Book') format('svg');
  font-weight: normal;
  font-style: normal;
}

// Bold

@font-face {
  font-family: 'circular-bold';
  src: url('../fonts/circular/bold/CircularStd-Bold.eot?#iefix') format('embedded-opentype'),  url('../fonts/circular/bold/CircularStd-Bold.otf')  format('opentype'),
	     url('../fonts/circular/bold/CircularStd-Bold.woff') format('woff'), url('../fonts/circular/bold/CircularStd-Bold.ttf')  format('truetype'), url('../fonts/circular/bold/CircularStd-Bold.svg#CircularStd-Bold') format('svg');
  font-weight: normal;
  font-style: normal;
}

/*==================================
FONTS
==================================*/

* {
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body, p {
	font-size: 18px;
	line-height: 25px;
	font-family: 'circular-book';

	@include tablet {
		font-size: 16px;
		line-height: 23px;
	}

	@include mobile_landscape {
		font-size: 14px;
		line-height: 20px;
	}
}

body {
	background-color: $white;
}

h1 {
	font-size: 35px;
	line-height: 40px;
	font-family: 'circular-bold';

	@include tablet {
		font-size: 30px;
		line-height: 35px;
	}

	@include mobile_landscape {
		font-size: 25px;
		line-height: 30px;
	}
}

h2 {
	font-size: 24px;
	line-height: 27px;
	font-family: 'circular-bold';
}

h3 {
	font-size: 14px;
	line-height: 17px;
	font-family: 'circular-bold';
}

p, h1, h2, h3 {
	margin: 0px 0px 20px;
}

h1, h2, h3 {
	letter-spacing: .4px;
}

/*==================================
LINKS
==================================*/

a, a:visited, a:active, a:focus {
	color: $blue-light;
	text-decoration: none;
	outline: 0;
}

a {
	transition: opacity .3s ease-in-out;

	&:hover {
		opacity: .6;
	}
}