/*-----------------------
Structure
-----------------------*/

.coming-soon {
    background: $blue-dark;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;

    @media all and (max-height: 450px) {
        justify-content: flex-start;
    }
}

/*-----------------------
Content
-----------------------*/

.coming-soon__content {
    width: 90%;
    max-width: 700px;
    text-align: center;
    margin-bottom: 50px;
}

// Logo

.coming-soon__logo {
    width: 100%;
    max-width: 300px;
    margin-bottom: 20px;

    @include mobile_landscape {
		max-width: 200px;
	}

    @include large_desktop {
        max-width: 400px;
    }
}

// Text

.coming-soon__content h1 {
    color: $white;
    margin-bottom: 10px;
}

.coming-soon__content p {
    color: $blue-light;
    margin-bottom: 0;
}

/*-----------------------
Footer
-----------------------*/

.coming-soon__footer {
    position: fixed;
    bottom: 40px;
    width: 80%;
    margin: 0 auto;
    text-align: center;
    color: $white;

    @media all and (max-height: 750px) {
        position: relative;
        bottom: 0;
        padding-bottom: 40px;
    }
}

.coming-soon__footer p { 
    margin-bottom: 0;
}

.coming-soon__footer p br { 
    @include mobile_landscape {
        display: none;
    }
}